<%= render 'common/guest_summary' %>

<div ng-app="admin">
  <div ng-controller="PartyController as partyCtrl">
    <h1>Listing parties <span class="label label-info">{{parties.length}}</span></h1>

    <%= link_to 'New Party', new_party_path %><br><br>

    <input type="text" ng-model="search" class="search-query form-control input-lg" placeholder="Search">

    <table class="table table-responsive parties">
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Inner/Outer Envelop</th>
        <th>List</th>
        <th>Size</th>
        <th>Save The Date Sent?</th>
        <th>RSVP?</th>
        <th>RSVP Party Size</th>
        <th>Tags</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
        <tr ng-repeat="party in parties | filter:search | orderBy:'name'"
            ng-controller="StatusController as status"
            ng-class="{danger:status.isMissingEmail(party) && status.isMissingAddress(party),
              warning:status.isMissingEmail(party) && !status.isMissingAddress(party)}">

          <td>
            <i ng-hide="party.email" title="Missing email." class="fa fa-warning"></i>
            <i ng-hide="party.address" title="Address incomplete." class="fa fa-warning"></i>

            {{party.name}}<br>

            <span style="margin-left:1em" ng-repeat="guest in party.guests">
              <i ng-show="partyCtrl.isFemale(guest)" class="fa fa-female"></i>
              <i ng-show="partyCtrl.isMale(guest)" class="fa fa-male"></i>
              {{guest.first_name}} {{guest.last_name}}<br>
            </span>
            <br><br>

            <i ng-show="party.confirmed" class="fa fa-check-circle fa-lg green"></i>
          </td>
          <td style="max-width: 150px;">
            {{party.address}}<br>
            {{party.city}}, {{party.state}} {{party.postal_code}}<br>
            {{party.country}}<br>
            <a href="mailto:{{party.email}}">{{party.email}}</a>
          </td>
          <td>
            {{party.inner_envelop}}<br>
            {{party.outer_envelop}}
          </td>
          <td>{{party.a_b_list}}</td>
          <td>{{party.guests.length}}</td>
          <td><input ng-model="party.save_the_date_sent" type="checkbox"/></td>
          <td><input ng-model="party.rsvp" type="checkbox"/></td>
          <td>{{party.size}}</td>
          <td>{{party.notes}}</td>
          <td><a id="{{party.id}}" class="edit-party"><i class="fa fa-edit"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= render 'common/modal' %>
