<div ng-app="admin">

<%= render 'common/guest_summary' %>

<div ng-controller="PartyController as partyCtrl" ng-init="loadList();">
<div>
  <br><br>
  <button class="btn btn-info" ng-click="editParty()"><i class="glyphicon glyphicon-plus"></i> New Party</button>

  <h1>Listing parties <span class="label label-info">{{filtered.length}}</span></h1>

  <input type="text" ng-model="search" class="search-query form-control input-lg" placeholder="Search">

  <br>

  <div data-spy="affix" data-offset-top="60" class="filters">
    <span>Filters</span>
    <button type="button" class="btn btn-default" ng-class="{active:list === 'A'}" ng-click="list = 'A'">A List</button>
    <button type="button" class="btn btn-default" ng-class="{active:list === 'B'}" ng-click="list = 'B'">B List</button>
    <button type="button" class="btn btn-default" ng-class="{active:list === 'All'}" ng-click="list = 'All'">All</button>
  </div>
  <br><br>

  <table class="table table-responsive parties">
    <thead>
    <tr>
      <th ng-click="orderByField='name'; reverseSort = !reverseSort"><a href>Name</a></th>
      <th><a href>Address</a></th>
      <th><a href>Inner/Outer Envelop</a></th>
      <th ng-click="orderByField='a_b_list'; reverseSort = !reverseSort"><a href>List</a></th>
      <th ng-click="orderByField='guests.length'; reverseSort = !reverseSort"><a href>Size</a></th>
      <th ng-click="orderByField='save_the_date_sent'; reverseSort = !reverseSort"><a href>Save The Date Sent?</a></th>
      <th ng-click="orderByField='rsvp'; reverseSort = !reverseSort"><a href>RSVP?</a></th>
      <th ng-click="orderByField='size'; reverseSort = !reverseSort"><a href>RSVP Party Size</a></th>
      <th><a href>Tags</a></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="party in filtered = (parties | filter:search | orderBy:orderByField:reverseSort | filterList:list)"
        ng-controller="StatusController as status"
        ng-class="{danger:status.isMissingEmail(party) && status.isMissingAddress(party),
              warning:status.isMissingEmail(party) && !status.isMissingAddress(party)}">

      <td>
        <i ng-hide="party.email" title="Missing email." class="fa fa-warning"></i>
        <i ng-hide="party.address" title="Address incomplete." class="fa fa-warning"></i>

        {{party.name}}<br>

            <span style="margin-left:1em" ng-repeat="guest in party.guests">
              <i ng-show="partyCtrl.isFemale(guest)" class="fa fa-female"></i>
              <i ng-show="partyCtrl.isMale(guest)" class="fa fa-male"></i>
              {{guest.first_name}} {{guest.last_name}}<br>
            </span>
        <br><br>

        <i ng-show="party.confirmed" class="fa fa-check-circle fa-lg green"></i>
      </td>
      <td style="max-width: 150px;">
        {{party.address}}<br>
        {{party.city}}, {{party.state}} {{party.postal_code}}<br>
        {{party.country}}<br>
        <a href="mailto:{{party.email}}">{{party.email}}</a>
      </td>
      <td>
        {{party.inner_envelop}}<br>
        {{party.outer_envelop}}
      </td>
      <td>{{party.a_b_list}}</td>
      <td>{{party.guests.length}}</td>
      <td><input ng-model="party.save_the_date_sent" type="checkbox"/></td>
      <td><input ng-model="party.rsvp" type="checkbox"/></td>
      <td>{{party.size}}</td>
      <td>{{party.notes}}</td>
      <td>
        <a href ng-click="editParty(party)"><i class="fa fa-edit"></i></a>
        <a ng-click="deleteParty(party.id)"><i class="fa fa-trash-o"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<form class='form-horizontal' role='form'
      name="editPartyForm"
      ng-submit="updateParty(party)">
  <div id="partyDetails" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">{{party.name}}</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label class='col-sm-2 control-label'>A/B List</label>

            <div class="col-sm-10">
              <input type="radio" ng-model="party.a_b_list" value="A"/> A
              <input type="radio" ng-model="party.a_b_list" value="B"/> B
            </div>
          </div>

          <div class="form-group">
            <label for="name" class='col-sm-2 control-label'>Name</label>

            <div class="col-sm-10">
              <input id="name" type="text" ng-model="party.name" class='form-control'/>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class='col-sm-2 control-label'>Email</label>

            <div class="col-sm-10">
              <input type="text" id="email" class='form-control' ng-model="party.email"/>
            </div>
          </div>

          <div class="form-group">
            <label for="address" class='col-sm-2 control-label'>Address</label>

            <div class="col-sm-10">
              <input type="text" id="address" class='form-control' ng-model="party.address"/>
            </div>
          </div>

          <div class="form-group">
            <label for="city" class='col-sm-2 control-label'>City</label>

            <div class="col-sm-10">
              <input id="city" type="text" ng-model="party.city" class='form-control'/>
            </div>
          </div>

          <div class="form-group">
            <label for="state" class='col-sm-2 control-label'>State</label>

            <div class="col-sm-10">
              <input type="text" id="state" class='form-control' ng-model="party.state"/>
            </div>
          </div>

          <div class="form-group">
            <label for="postal-code" class='col-sm-2 control-label'>Postal Code</label>

            <div class="col-sm-10">
              <input type="text" id="postal-code" class='form-control' ng-model="party.postal_code"/>
            </div>
          </div>

          <div class="form-group">
            <label for="country" class='col-sm-2 control-label'>Country</label>

            <div class="col-sm-10">
              <input id="country" type="text" ng-model="party.country" class='form-control'/>
            </div>
          </div>

          <div class="form-group">
            <label for="inner-envelop" class='col-sm-2 control-label'>Inner Envelop</label>

            <div class="col-sm-10">
              <input type="text" id="inner-envelop" class='form-control' ng-model="party.inner_envelop"/>
            </div>
          </div>

          <div class="form-group">
            <label for="outer-envelop" class='col-sm-2 control-label'>Outer Envelop</label>

            <div class="col-sm-10">
              <input type="text" id="outer-envelop" class='form-control' ng-model="party.outer_envelop"/>
            </div>
          </div>

          <div class="form-group">
            <label for="rsvp" class='col-sm-2 control-label'>RSVP</label>

            <div class="col-sm-10">
              <input id="rsvp" ng-model="party.rsvp" type="checkbox"/>
            </div>
          </div>

          <div class="form-group">
            <label for="save-the-date" class='col-sm-2 control-label'>Save the Date Sent?</label>

            <div class="col-sm-10">
              <input id="save-the-date" ng-model="party.save_the_date_sent" type="checkbox"/>
            </div>
          </div>

          <strong>Guests:</strong>

          <p ng-repeat="guest in party.guests">
            {{guest.first_name}} {{guest.last_name}}
            | <a ng-click="removeGuestFromParty(party, guest)">Remove From Party</a>
          </p>

          <p>
            <a href ng-click="addGuest(party)">Add a new Guest</a>
            | <a href ng-click="addExistingGuest(party)">Add an existing Guest</a>
          </p>

          <div class="form-group">
            <label for="notes" class='col-sm-2 control-label'>Notes</label>

            <div class="col-sm-10">
              <text_area id="notes" class='form-control'></text_area>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class='btn btn-primary' value="Update"/>
          <input type="button" ng-click="deleteParty(party.id)" class='btn btn-danger' value="Delete"/>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</form>

</div>

</div>

<button class="btn btn-info" ng-click="editParty()"><i class="glyphicon glyphicon-plus"></i> New Party</button>

<%= render 'common/modal' %>
