<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body style="background-color: #eae5dd; font-family: Cambria, Georgia, serif; padding: 1% 0 5% 0; color: #777777; font-size: 16px">

<div style="width: 80%; margin: 0 auto 5% auto; text-align: center; padding-bottom: 10px;">

    <div style="padding: 20px; background-color: #ffffff; border-radius: 20px;">

        <div style="border: 6px double #D35A4A; padding: 15px; border-radius: 20px;">
            <img src="http://www.jessica-and-fred.com/assets/email_seperator_top.jpg" style="max-width: 100%;"/>

            <p>Please join us for a</p>

            <p style="font-family: 'Brush Script MT', cursive; color: goldenrod; font-size:300%; margin: 0;">Rehearsal
                Dinner</p>

            <hr style="border: 1px dashed #777; width: 50%;">

            <p>in the honor of</p>

            <div style="font-family: 'Brush Script MT', cursive; color: goldenrod; font-size: 300%; padding: 1%;">
                Jessica &amp; Fred
            </div>
            <br>

            <hr style="border: 1px dashed #777; width: 50%;">

            <p style="text-transform: uppercase; font-size: 125%; font-weight: bold; color: #D35A4A;">
                July 24, 2015<br>
                7:00 pm
            </p>

            <p>
                <strong>Grille 29</strong><br>
                445 Providence Main St NW #101<br>
                Huntsville, Alabama USA<br><br>
            </p>

            <p>
                <strong>Please RSVP by responding to this email</strong>
            </p>

            <p><strong style="text-transform: uppercase; color:#D35A4A; font-size: medium;">
                African Attire Preferred
            </strong></p>

            <p>
                <a href="http://www.jessica-and-fred.com/">http://www.jessica-and-fred.com/</a>
            </p>

            <img src="http://www.jessica-and-fred.com/assets/email_seperator_bottom.jpeg" style="max-width: 100%;"/>
        </div>
    </div>

</div>

</body>

</html>
