<%= render 'common/guest_summary' %>

<%= link_to 'New Guest', new_guest_path %>

<div ng-app="admin">
  <div ng-controller="GuestController as guestCtrl">
    <h1>Listing guests <span class="label label-info">{{guests.length}}</span></h1>

    <input type="text" ng-model="search" class="search-query form-control input-lg" placeholder="Search">

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Last name</th>
        <th>First name</th>
        <th>Gender</th>
        <th>Party</th>
        <th>Group(s)</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="guest in guests | filter:search | orderBy:'last_name'" style="cursor: pointer">
        <td>
          {{guest.last_name}}
          <span ng-show="guest.suffix">, {{guest.suffix}}</span>
        </td>
        <td>{{guest.title}} {{guest.first_name}}</td>
        <td>{{guest.gender}}</td>
        <td><span ng-show="guest.party">{{guest.party.name}}</span></td>
        <td>
          <p ng-repeat="g in guest.group">
            <span class="label label-danger" ng-show="g.name === 'Bride\'s Family'">{{g.name}}</span>
            <span class="label label-success" ng-show="g.name === 'Bride\'s Friends'">{{g.name}}</span>
            <span class="label label-info" ng-show="g.name === 'Groom\'s Family'">{{g.name}}</span>
            <span class="label label-warning" ng-show="g.name === 'Groom\'s Friends'">{{g.name}}</span>
            <span class="label label-default" ng-show="g.name === 'Bridal Party' || g.name === 'Rehearsal Dinner'">{{g.name}}</span>
            <span class="label label-primary" ng-show="g.name === 'Sunday Brunch'">{{g.name}}</span>
          </p>
        </td>
        <td><a id="{{guest.id}}" class="edit-guest"><i class="fa fa-edit"></i></a></td>
      </tr>
      </tbody>
    </table>

    <br>
  </div>
</div>

<%= link_to 'New Guest', new_guest_path %>

<%= render 'common/modal' %>


