<%= render 'common/guest_summary' %>

<br><br>
<div ng-app="guestApp">
  <div ng-controller="GuestController as guestCtrl">

    <button class="btn btn-info" ng-click="editGuest()"><i class="glyphicon glyphicon-plus"></i> New Guest</button>

    <div>
      <h1>Listing guests <span class="label label-info">{{filtered.length}}</span></h1>
      <input type="text" ng-model="search" class="search-query form-control input-lg" placeholder="Search">

      <br>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-class="{active:group === 'Bride\'s Family'}" ng-click="group = 'Bride\'s Family'">Bride's
          Family
        </button>
        <button type="button" class="btn btn-default" ng-class="{active:group === 'Bride\'s Friends'}" ng-click="group = 'Bride\'s Friends'">Bride's
          Friends
        </button>
        <button type="button" class="btn btn-default" ng-class="{active:group === 'Groom\'s Family'}" ng-click="group = 'Groom\'s Family'">Groom's
          Family
        </button>
        <button type="button" class="btn btn-default" ng-class="{active:group === 'Groom\'s Friends'}" ng-click="group = 'Groom\'s Friends'">Groom's
          Friends
        </button>
        <button type="button" class="btn btn-default" ng-class="{active:group === 'Bridal Party'}" ng-click="group = 'Bridal Party'">Bridal
          Party
        </button>
        <button type="button" class="btn btn-default" ng-class="{active:group === 'Rehearsal Dinner'}" ng-click="group = 'Rehearsal Dinner'">Rehearsal
          Dinner
        </button>
        <button type="button" class="btn btn-default" ng-class="{active:group === 'Sunday Brunch'}" ng-click="group = 'Sunday Brunch'">Sunday
          Brunch
        </button>
        <button type="button" class="btn btn-default" ng-class="{active:group === ''}" ng-click="group = ''">
          None
        </button>
        <button type="button" class="btn btn-default" ng-class="{active:group === 'All'}" ng-click="group = 'All'">All</button>
      </div>
      <br><br>

      <table class="table table-hover">
        <thead>
            <th ng-click="orderByField='last_name'; reverseSort = !reverseSort"><a href>Last Name</a></th>
            <th ng-click="orderByField='first_name'; reverseSort = !reverseSort"><a href>First Name</a></th>
            <th ng-click="orderByField='gender'; reverseSort = !reverseSort"><a href>Gender</a></th>
            <th ng-click="orderByField='party.name'; reverseSort = !reverseSort"><a href>Party</a></th>
            <th>Group(s)</th>
            <th></th>
        </thead>

        <tbody>
        <tr ng-repeat="guest in filtered = (guests | filter:search | orderBy:orderByField:reverseSort | filterList:group)">
          <td>
            {{guest.last_name}}
            <span ng-show="guest.suffix">, {{guest.suffix}}</span>
          </td>
          <td>{{guest.title}} {{guest.first_name}}</td>
          <td>{{guest.gender}}</td>
          <td><span ng-show="guest.party">{{guest.party.name}}</span></td>
          <td>
            <p ng-repeat="g in guest.group">
              <span class="label label-danger" ng-show="g.name === 'Bride\'s Family'">{{g.name}}</span>
              <span class="label label-success" ng-show="g.name === 'Bride\'s Friends'">{{g.name}}</span>
              <span class="label label-info" ng-show="g.name === 'Groom\'s Family'">{{g.name}}</span>
              <span class="label label-warning" ng-show="g.name === 'Groom\'s Friends'">{{g.name}}</span>
              <span class="label label-default" ng-show="g.name === 'Bridal Party' || g.name === 'Rehearsal Dinner'">{{g.name}}</span>
              <span class="label label-primary" ng-show="g.name === 'Sunday Brunch'">{{g.name}}</span>
            </p>
          </td>
          <td>
            <a id="{{guest.id}}" ng-click="editGuest(guest)"><i class="fa fa-edit"></i></a>
            <a id="{{guest.id}}" ng-click="deleteGuest(guest)"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <form class='form-horizontal' role='form' name="editForm" ng-submit="update(guest)">
      <div id="guestDetails" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title">{{guest.first_name}} {{guest.last_name}}</h4>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <label class='col-sm-2 control-label'>Title</label>

                <div class="col-sm-10">
                  <select ng-model="guest.title">
                    <option ng-repeat="title in <%= title_options %>" value="{{title}}">{{title}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="first-name" class='col-sm-2 control-label'>First Name</label>

                <div class="col-sm-10">
                  <input id="first-name" type="text" ng-model="guest.first_name" class='form-control'/>
                </div>
              </div>

              <div class="form-group">
                <label for="last-name" class='col-sm-2 control-label'>Last Name</label>

                <div class="col-sm-10">
                  <input type="text" id="last-name" class='form-control' ng-model="guest.last_name"/>
                </div>
              </div>

              <div class="form-group">
                <label for="suffix" class='col-sm-2 control-label'>Suffix</label>

                <div class="col-sm-10">
                  <input type="text" id="suffix" class='form-control' ng-model="guest.suffix"/>
                </div>
              </div>

              <div class="form-group">
                <label for="gender" class='col-sm-2 control-label'>Gender</label>

                <div class="col-sm-10">
                  <input type="radio" ng-model="guest.gender" value="Male"/> Male
                  <input type="radio" ng-model="guest.gender" value="Female"/> Female
                </div>
              </div>

              <div class="form-group">
                <label for="child" class='col-sm-2 control-label'>Child</label>

                <div class="col-sm-10">
                  <input id="child" ng-model="guest.child" type="checkbox"/> Child?
                </div>
              </div>

              <div class="form-group">
                <label for="party" class='col-sm-2 control-label'>Party</label>

                <div class="col-sm-10">
                  <select ng-model="guest.party.id"> <!--ng-options="party.name for party in parties">-->
                    <option ng-repeat="party in parties" value="{{party.id}}">{{party.name}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class='col-sm-2 control-label'>Group</label>

                <div class="col-sm-10">
                  <p ng-repeat="group in groups">
                    <input type="checkbox" name="groups[]" value="{{group.name}}" ng-model="group.selected"> {{group.name}}<br>
                  </p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input ng-show="status === 'new'" type="submit" class='btn btn-primary' value="Add New Guest"/>
              <input ng-hide="status === 'new'" type="submit" class='btn btn-primary' value="Update"/>
              <input ng-hide="status === 'new'" type="button" ng-click="delete(guest)" class='btn btn-danger' value="Delete"/>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </form>

    <br>
  </div>
</div>

<button class="btn btn-info" ng-click="editGuest()"><i class="glyphicon glyphicon-plus"></i> New Guest</button>
