<div class="tab-pane" id="engagement-party">
  <h1>Engagement Party</h1>

  <div class="photos">
    <% idx = 0 %>
    <% @photos[:party].each do |p| %>
        <%= image_tag p.avatar.url(:medium), class: 'image', id: "party-#{idx}" %>
        <% idx = idx + 1 %>
    <% end %>
  </div>
</div>