<% date = '2015-05-01'.to_date %>

<div id="locations">
  <h2>Venues</h2>

  <div>
    <% if Date.today >= date || user_signed_in? %>
        <div id="venue-map"></div>
        <br>

        <h1>Event Locations</h1>

        <strong>Ceremony</strong><br>
        Mount Zion Baptist Church<br>
        228 Mt Zion Rd<br>
        Huntsville, AL 35806<br>
        (256) 837-2665<br>
        <a href='http://mzbc.net/' target='_blank'>http://mzbc.net/</a><br><br>

        <button id='ceremony' class='btn btn-primary'>View on Map</button>

        <form style="display: inline" action="http://www.google.com/maps" method="get" target="_blank">
          <input type="hidden" name="daddr" value="228 Mt Zion Road, Huntsville, AL 35806"/>
          <input type="submit" class='btn btn-primary' value="Get Directions"/>
        </form>
        <br><br>

        <strong>Reception</strong><br>
        The Ledges<br>
        32 Castle Down Drive<br>
        Huntsville, AL 35802<br>
        (256) 883-0860<br>
        <a href='http://www.theledges.com/' target='_blank'>http://www.theledges.com/</a><br><br>

        <button id="reception" class='btn btn-primary'>View on Map</button>

        <form style="display: inline" action="http://www.google.com/maps" method="get" target="_blank">
          <input type="hidden" name="daddr" value="32 Castle Down Drive, Huntsville, AL 35802"/>
          <input type="submit" class='btn btn-primary' value="Get Directions"/>
        </form>
        <br><br>
    <% else %>
        <%= render 'common/to_be_announced' %>
    <% end %>
  </div>
</div>