<div class="info-box">
  <header>Guest Information</header>

  <section>

    <div id="venue-map"></div>
    <br>

    <h1>Event Locations</h1>

    <strong>Ceremony</strong><br>
    Mount Zion Baptist Church<br>
    228 Mt Zion Rd<br>
    Huntsville, AL 35806<br>
    (256) 837-2665<br>
    <a href='http://mzbc.net/' target='_blank'>http://mzbc.net/</a><br><br>

    <button id='ceremony' class='btn btn-primary'>View on Map</button>

    <form style="display: inline" action="http://www.google.com/maps" method="get" target="_blank">
      <input type="hidden" name="daddr" value="228 Mt Zion Road, Huntsville, AL 35806"/>
      <input type="submit" class='btn btn-primary' value="Get Directions"/>
    </form>
    <br><br>

    <strong>Reception</strong><br>
    The Ledges<br>
    32 Castle Down Drive<br>
    Huntsville, AL 35802<br>
    (256) 883-0860<br>
    <a href='http://www.theledges.com/' target='_blank'>http://www.theledges.com/</a><br><br>

    <button id="reception" class='btn btn-primary'>View on Map</button>

    <form style="display: inline" action="http://www.google.com/maps" method="get" target="_blank">
      <input type="hidden" name="daddr" value="32 Castle Down Drive, Huntsville, AL 35802"/>
      <input type="submit" class='btn btn-primary' value="Get Directions"/>
    </form>
    <br><br>


    <br><br>

    <div id="accommodation-map"></div>
    <br>

    <h1>Accommodations</h1>

    <strong>Hotel</strong><br>
    Hilton Garden Inn<br>
    4801 Governors House Dr<br>
    Huntsville, AL 35805<br>
    (256) 430-1778<br>
    <a href='http://hiltongardeninn.hilton.com' target='_blank'>http://hiltongardeninn.hilton.com</a><br><br>

    <button id="hotel" class='btn btn-primary'>View on Map</button>
    <form style="display: inline" action="http://www.google.com/maps" method="get" target="_blank">
      <input type="hidden" name="daddr" value="4801 Governors House Drive, Huntsville, AL 35805"/>
      <input type="submit" class='btn btn-primary' value="Get Directions"/>
    </form>
    <br><br>

    <strong>Airport</strong><br>
    Huntsville International Airport (HSV)<br>
    1000 Glenn Hearn Blvd SW<br>
    Huntsville, AL 35824<br>
    (256) 772-9395<br>
    <a href='http://hsvairport.org' target='_blank'>http://hsvairport.org</a><br><br>

    <button id="airport" class='btn btn-primary'>View on Map</button>
    <form style="display: inline" action="http://www.google.com/maps" method="get" target="_blank">
      <input type="hidden" name="daddr" value="1000 Glenn Hearn Blvd SW, Huntsville, AL 35824"/>
      <input type="submit" class='btn btn-primary' value="Get Directions"/>
    </form>
    <br><br>

  </section>

  <%= render 'footer' %>
</div>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY2XQZrv_P3zdKzGX6GD0GnqnYANCI490">
</script>
<%= javascript_include_tag 'map_of_venues' %>

<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
