<% flash.each do |name, msg| %>
    <% alert_class = name == 'notice' ? 'alert-success' : 'alert-danger' %>
    <div class='alert <%= alert_class %> alert-dismissible visible-xs visible-sm' id="notice" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      </button>
      <%= msg %>
    </div>
<% end %>

<div class="col-md-5">
  <div class="title">
    <p class="names">Jessica &amp; Fred </p>

    <p class="info">
      July 25, 2015<br>
      Huntsville, Alabama
    </p>
  </div>
  <br>
  <br>

  <div class="welcome">
    <p>Hi Friends &amp; Family!</p>

    <p>
      Welcome to our website! Thank you for visiting. We are very excited to be getting married this year and we hope
      you can join us for our wedding. Our destination is Huntsville, Alabama, USA for the weekend of July 25, 2015.
      As we work out the details we will keep you posted.
    </p>
  </div>
</div>

<div class="col-md-3 col-lg-offset-9 countdown">
  <div class="box">
    <div>
      <p class="heart">&hearts;</p>

      <p class="keep">Keep</p>

      <p class="calm">Calm</p>

      <p class="wedding-countdown">Wedding Countdown</p>
    </div>
    <table id="table" border="0">
      <tr>
        <td align="center" colspan="4">
          <div class="numbers" id="count2" style="padding: 10px; "></div>
        </td>
      </tr>
      <tr id="spacer1">
        <td align="center">
          <div class="numbers" id="dday"></div>
        </td>
        <td align="center">
          <div class="numbers" id="dhour"></div>
        </td>
        <td align="center">
          <div class="numbers" id="dmin"></div>
        </td>
        <td align="center">
          <div class="numbers" id="dsec"></div>
        </td>
      </tr>
      <tr id="spacer2">
        <td align="center">
          <div class="title" id="days">Days</div>
        </td>
        <td align="center">
          <div class="title" id="hours">Hours</div>
        </td>
        <td align="center">
          <div class="title" id="minutes">Minutes</div>
        </td>
        <td align="center">
          <div class="title" id="seconds">Seconds</div>
        </td>
      </tr>
    </table>
  </div>
</div>
