<div class="col-xs-offset-1 col-xs-10 info-box">
  <header>Our Story</header>
  <h1>Title</h1>

  <section>
    Description goes here
  </section>

  <div class="footer">
    <span class="heart">&hearts;</span>
    <hr style="float: left;">
    <hr style="float: right;">
  </div>
</div>
