<div class="info-box">
  <header>Our Story</header>

  <h1>Jessica Lynn Brazelton</h1>

  <section class="our_story">
    <%= image_tag 'jessica.jpeg', class: 'jess' %>
    <p>
    Jessica was born and raised in Huntsville, Alabama, USA. She graduated from
    Tuskegee University in May 2010 with a B.S. degree in Computer Science and a
    B.A. degree in Mathematics, Magna Cum Laude.
    </p>

    <p>
    In her free time she enjoys spending time with family and friends, dancing,
    traveling, community service, shopping, drawing, and learning new
    technologies on the computer.
    </p>
  </section>

  <h1>Frederick Kazembe</h1>

  <section class="our_story">
    <%= image_tag 'fred.jpeg', class: 'fred our_story' %>
    <p>
    Fred was born and raised in Kitwe, Copperbelt, Zambia. He studied at
    XYZ in Sydney, Australia and received a diploma in Accounting in YYYY.
    </p>
  </section>

  <h1>How We Met</h1>

  <section></section>

  <h1>The Engagement</h1>

  <section></section>

  <%= render 'footer' %>
</div>
