<div class="col-xs-offset-1 col-xs-10 info-box">
  <header>The Reception</header>
  <%= image_tag 'ledges.jpg' %>
  <h1>The Ledges</h1>

  <h3>32 Castle Down Dr, Huntsville, AL 35802</h3>
  <section>
    The Clubhouse is an architectural masterpiece perched on the westernmost point of Huntsville Mountain, overlooking
    southeast Huntsville. An English Tudor Manor house measuring over 36,000 square feet, is situated between the No. 1
    and No. 18 fairways. The clubhouse encompasses a grand hall, private men's and ladie's lounges, bars, two dining
    rooms, a ballroom, private meeting rooms, and a well-appointed Pro Shop. The upper and lower levels have verandas
    for members to enjoy outside dining and sunsets overlooking the formal gardens. The reception will be held at the
    Ledges of Huntsville at 4 o'clock. Dinner will be served, with music and dancing to follow. There will also be an
    open bar.
  </section>

  <div class="link"><a href="//www.theledges.com/" target="_blank">view website</a></div>

  <div class="footer">
    <span class="heart">&hearts;</span>
    <hr style="float: left;">
    <hr style="float: right;">
  </div>
</div>
