<div class="col-md-offset-1 col-md-10 info-box">
  <header>The Reception</header>
  <%= image_tag 'ledges.jpg' %>
  <h1>The Ledges</h1>
  <h3>32 Castle Down Dr, Huntsville, AL 35802</h3>
  <section>description goes here</section>
</div>
