<div class="info-box">
  <header>Registry</header>

  <section>
    <strong>
      Everything we put on the registry are things we would love to have and to spruce up the house, but honestly,
      the most important gift you can bring us is your presence at our celebration. We are excited to
      spend our special day with you and feel very blessed to have you in our lives!
    </strong>
  </section>

  <br>
  <div class="hidden-lg">
    <a href="http://www.myregistry.com/public/jessicaandfred"><%= image_tag 'registry.jpg' %></a>
  </div>

  <div class="visible-lg">
  <script id='script_myregistry_giftlist_iframe' type='text/javascript'
          src='http://www.myregistry.com/Visitors/GiftList/iFrames/EmbedRegistry.ashx?r=rN2j2P4nhNAj2OXQPNijBQ2'>

  </script>
  </div>

  <!--<iframe width="100%" height="500px" src="http://www.myregistry.com/public/jessicaandfred"></iframe>-->
</div>