<h1 class="heading1">Registry</h1>

<br>
<script id='script_myregistry_giftlist_iframe'
        type='text/javascript'
        src='http://www.myregistry.com/Visitors/GiftList/iFrames/EmbedRegistry.ashx?r=rN2j2P4nhNAj2OXQPNijBQ2'>

</script>