<div class="info-box">
  <header>Wedding Party</header>

  <section>
    <%= render 'bridesmaids' %>

    <%= render 'groomsmen' %>

    <div style="clear: both;"></div>
  </section>

  <%= render 'footer' %>
</div>
