<div class="info-box">
  <header>The Ceremony</header>
  <%= image_tag 'ceremony_venue.jpg' %>
  <h1>Mt. Zion Baptist Church</h1>

  <h3> 228 Mount Zion Road, Huntsville, AL 35806</h3>
  <section>
    The service will be held at Mount Zion Baptist Church in Huntsville, Alabama at 2 pm on XXXXX. Please arrive by 1:45
    pm.
  </section>

  <div class="link"><a href="//www.wbccares.org/" target="_blank">view website</a></div>

  <div class="footer">
    <span class="heart">&hearts;</span>
    <hr style="float: left;">
    <hr style="float: right;">
  </div>
</div>
