<div class="col-xs-offset-1 col-xs-10 info-box rsvp">
  <header>RSVP</header>

  <section>
    Use the identification code given in your invitation to RSVP.
  </section>

  <%= form_tag('rsvp/search', method: 'get', :class => 'form-horizontal', :role => 'form') do %>
      <div class="form-group">
        <%= label_tag :id_code, 'Identification Code', :class => 'control-label' %>
        <div class="col-xs-6" style="float: none; margin: auto;">
          <%= text_field_tag :id_code, '', :class => 'form-control', :placeholder => 'e.g. A4RTC932VB', :required => :required %>
        </div>
      </div>

      <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="response" id="yes" required="required" value='1'> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="response" id="no" value='0'> No
        </label>
      </div>

      <button type="submit" class="btn btn-primary">RSVP</button>
  <% end %>

  <div class="footer">
    <span class="heart">&hearts;</span>
    <hr style="float: left;">
    <hr style="float: right;">
  </div>
</div>
