<div class="info-box rsvp">
  <header>RSVP</header>

  <section style="font-size: 20px;">
    Thank you for your RSVP!<br><br>

    <% if @attending == '1' %>
        We are looking forward to seeing you at the wedding!
    <% else %>
        Sorry you are unable to attend the wedding.
    <% end %>
  </section>

  <div class="footer">
    <span class="heart">&hearts;</span>
    <hr style="float: left;">
    <hr style="float: right;">
  </div>
</div>
