<div class="col-md-offset-1 col-md-10 info-box">
  <header>The Ceremony</header>
  <%= image_tag 'ceremony_venue.jpg' %>
  <h1>Mt. Zion Baptist Church</h1>
  <h3>228 Mt Zion Rd, Huntsville, AL 35806</h3>
  <section>description goes here</section>
</div>
