<div class="our-story-section">
<p class="right">
  Jessica had just arrived back in Sydney after visiting her family and friends for two weeks in Alabama. She had
  unfortunately had a very disappointing flight with 2 out of 3 of her flights being delayed causing her to arrive to
  Sydney a day later than expected. Meanwhile, Fred was patiently waiting because he had something special planned
  for her upon her arrival. On July 13, 2014, after Fred and Jessica had been dating for a little over a year and
  4 months, Fred asked for Jessica's hand in marriage. That morning Fred decided to take Jessica out for breakfast and
  the entire time he was trying to find the right time to pop the question. They decided to take a walk along Houston
  park later that morning, and during that stroll is when he stopped, got on one knee and asked Jessica to be his wife.
  Of course she said yes, and now they are eagerly preparing for a wedding in July.
  </p>

  <%= image_tag 'engagement.jpeg', class: 'left' %>

  <div style="clear: both"></div>
</div>