<div class="our-story-section">
  <%= image_tag 'engagement.jpeg', class: 'left' %>

  <p class="right">
    Jessica arrived back in Sydney after visiting her family and 
    friends for two weeks in Alabama. She unfortunately had a 
    disappointing flight with 2 out of 3 of her connections 
    being delayed causing her to arrive in Sydney a day later 
    than expected. Meanwhile, Fred was patiently waiting 
    because he had something special planned for her upon 
    her arrival. That morning, Fred decided to take Jessica out 
    for breakfast while trying to find the right time to pop the 
    question. They decided to take a walk along Houston Park 
    later that morning. During their stroll, Fred stopped, bent 
    down on one knee, and asked Jessica to be his wife. On 
    July 13, 2014, after Fred and Jessica had been dating for a 
    little over a year and 4 months, Fred asked for Jessica's 
    hand in marriage, and of course she said yes. Now the 
    couple is eagerly preparing for a July wedding.
  </p>

  <div style="clear: both"></div>
</div>