<div class="our-story-section">
<p class="right">
    This is how we got engaged.
  </p>

  <h1 class="left">The Engagement</h1>
  <%= image_tag 'engagement.jpeg', class: 'left' %>

  <div style="clear: both"></div>
</div>