<div class="our-story-section">
  <%= image_tag 'fred.jpeg', class: 'right' %>

  <p class="left">
    On February 3, 1986, Fred was born. He was raised in 
    Kitwe, Copperbelt, Zambia, where he grew up as the 
    youngest of three sisters and two brothers. He spent most of 
    his childhood in Zambia, where he grew to develop a 
    passion for basketball and played for his high school team. 
    After completing high school, Fred decided to travel to 
    Sydney, NSW, Australia in May 2006 to continue his 
    studies. He studied at Macquarie International College and 
    received a diploma in Accounting in 2009. Then he 
    continued his studies at Carrick University for a bachelor’s 
    degree in Accounting.
  </p>

  <div style="clear: both"></div>
</div>
