<div class="our-story-section">
<p class="right">
    Meanwhile, Jessica was born on January 4, 1988 in Huntsville, Alabama, USA. She was the youngest of two
    brothers and one sister. During her childhood into her teen years, she learned to play the piano, was a girl
    scout, and took several dance classes which lead her to be a member of the dance team in high school. Once here
    completion of high school, she continued her studies at Tuskegee University where she graduated with a B.S. degree
    in Computer Science and a B.A. degree in Mathematics, in 2010. The following semester she attended Georgia Tech,
    where she studied for her masters in Computer Science, and it was here where she was awarded the opportunity to
    work for a company in Sydney, NSw, Australia as an intern in May 2012.
  </p>

  <h1 class="left">Jessica Lynn Brazelton</h1>
  <%= image_tag 'jessica.jpeg', class: 'left' %>

  <div style="clear: both"></div>
</div>

