<div class="our-story-section">
  <%= image_tag 'meeting.jpeg', class: 'right' %>

  <p class="left">
    It was the weekend of Australia Day 2013.  On the 
	evening of Friday, January 25, Jessica and Fred were out 
	enjoying the start of the long weekend. Little did they know, 
	they would end up at the same place that night. Upon her 
	arrival to one of Sydney's local bars, Jessica was quickly 
	spotted by Fred. Reluctant at first, Fred eventually decided 
	to approach Jessica in conversation. A connection was 
	made. After getting to know each other for a few weeks, 
	they officially started dating on March 3, 2013.
  </p>

  <div style="clear: both"></div>
</div>