<div class="our-story-section">
  <%= image_tag 'meeting.jpeg', class: 'right' %>

  <p class="left">
    It was the weekend of Australia Day 2013. That Friday, January 25, both Jessica and Fred were out that night
    enjoying the long weekend. Little did they know they would end up at the same place that night. Upon Jessica's
    arrival to one of Sydney's local bars, she was quickly spotted out by Fred. Reluctant at first, Fred eventually
    decided to approach Jessica in conversation. A connection was made and after getting to know each other for a
    few weeks, they eventually officially started dating March 3, 2013.
  </p>

  <div style="clear: both"></div>
</div>