<div class="our-story-section">
  <p class="left">
    This is how we met
  </p>

  <h1 class="right">How We Met</h1>
  <%= image_tag 'meeting.jpeg', class: 'right' %>

  <div style="clear: both"></div>
</div>