<div class="tab-pane" id="engagement-party">
  <h1>Engagement Party</h1>

  <% if user_signed_in? %>
      <div class="photos">
        <% idx = 0 %>
        <% @engagement_party.each do |p| %>
            <img id="party-<%= idx %>" class='lazy' data-original="<%= p %>"/>
            <% idx = idx + 1 %>
        <% end %>
      </div>
  <% end %>
</div>