<div class="tab-pane active" id="engagement">
  <h1>Engagement Photos</h1>
  <div class="photos">
    <% @engagement_photos.each do |p| %>
        <img class='lazy' data-original="<%= p %>"/>
    <% end %>
  </div>
</div>