<%= link_to 'New Photo', new_photo_path %>
<br>

<div>
  <% @photos.each do |p| %>
      <div class="item">
        <%= image_tag p.avatar.url(:medium), class: 'lazy' %>
      </div>
  <% end %>
</div>
