<div class="info-box">
  <header>Photos</header>

  <section class="images">
    <h1>Engagement Photos</h1>
    <div class="photos">
    <% Dir.foreach("#{Rails.root}/app/assets/images/engagement") do |item| %>
      <% next if item == '.' or item == '..' %>
      <%= image_tag "engagement/#{item}" %>
    <% end %>
    </div>
  </section>

  <!-- <br><br>
  <iframe width="100%" height="500px" frameborder="0"
          src="http://trycapsule.com/widgets/photos?access_token=d652a8d28d6461t8"></iframe> -->
</div>
