.admin {
  background: rgba(245, 218, 214, 0.20);

  .admin-container {
    width: 90% !important;
    font-family: "Helvetica Neue", "Arial", sans-serif;

    .wrapper {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 10px;
    }

    .save-the-date {
      color: #ffffff;
    }
  }
}