.admin {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 14px;
  color: #000;
  background: rgba(245, 218, 214, 0.20);

  .admin-container {
    width: 90% !important;

    h1, h2, h3 {
      font-family: "Helvetica Neue", "Arial", sans-serif;
    }

    p, ol, ul, td {
      font-family: "Helvetica Neue", "Arial", sans-serif;
      font-size: 14px;
      line-height: 14px;
    }

    .wrapper {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 10px;
    }

    .save-the-date {
      color: #ffffff;
    }

    .form-control {
      color: #000;
      font-family: "Helvetica Neue", "Arial", sans-serif;
      font-size: 14px;
    }

    .modal-header {
      button.close {
        margin: -12px -5px 0px 10px;
        font-size: 40px;
      }

      .modal-title {
        clear: both;
      }
    }

    .filters {
      width: 150px;
      position: fixed;
      top: 200px;
      float: left;
      right: -120px;
      background-color: #aaa;
      padding-left: 30px;
      font-family: "Helvetica Neue", "Arial", sans-serif;
      font-size: 14px;
      padding-bottom: 10px;
      border-radius: 10px 0 0 10px;

      span {
        transform: rotate(90deg);
        transform-origin: -65% 180%;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        float: left;
      }

      button {
        width: 100%;
        margin: 5px;

        &.active {
          color: #ffffff;
          background-color: #D39547;
          border-color: #B57626;
        }
      }

      &:hover {
        right: 0px;
      }
    }
  }
}
