@font-face {
  font-family: MonsieurLaDoulaise-Regular;
  src: local('MonsieurLaDoulaise-Regular'),
  font-url('MonsieurLaDoulaise-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('MonsieurLaDoulaise-Regular.woff') format('woff'),
  font-url('MonsieurLaDoulaise-Regular.ttf') format('truetype');
}

@font-face {
  font-family: GreatVibes-Regular;
  src: local('GreatVibes-Regular'),
  font-url('GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('GreatVibes-Regular.woff') format('woff'),
  font-url('GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: PoiretOne;
  src: local('PoiretOne'),
  font-url('PoiretOne-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('PoiretOne-Regular.woff') format('woff'),
  font-url('PoiretOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: DancingScript;
  src: local('DancingScript'),
  font-url('DancingScript-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('DancingScript-Regular.woff') format('woff'),
  font-url('DancingScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: DancingScript;
  src: local('DancingScript'),
  font-url('DancingScript-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('DancingScript-Bold.woff') format('woff'),
  font-url('DancingScript-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "FontAwesome";
  src: font-url('fontawesome-webfont.eot');
  src: font-url('fontawesome-webfont.woff'),
  font-url('fontawesome-webfont.ttf'),
  font-url('fontawesome-webfont.svg');
  font-weight: normal;
  font-style: normal;
}

@mixin wedding-party($float, $left, $center, $right) {
  float: $float;
  width: 45%;

  h1 {
    font-family: GreatVibes-Regular;
  }

  li {
    list-style: none;
    text-align: left;

    img {
      width: 100px;
      height: 100px;
      margin: 5px 20px 20px 0;
      float: left;
      border: 3px solid #444;
      border-radius: 5px;
      box-shadow: 2px 2px 5px 0px;
    }

    .name {
      padding-top: 30px;
    }

    .clear {
      clear: both;
    }
  }

  .header {
    margin-bottom: 20px;
    span {
      position: absolute;

      &.left {
        left: $left;
        opacity: 0.5;
        top: 87px;
      }

      &.center {
        left: $center;
        opacity: 1;
        top: 90px;
      }

      &.right {
        right: $right;
        opacity: 0.5;
        top: 87px;
      }
    }
  }
}

.fa-female {
  color: #ff0a69;
}

.fa-male {
  color: #1357ff;
}

.fa-child {
  color: #000 !important;
}

.badge a {
  text-decoration: none;
  color: #000000;
}

.heading1 {
  font-family: MonsieurLaDoulaise-Regular;
  font-size: 50px;
}

a.btn {
  &.white-text {
    color: #ffffff;
  }
}

.alert {
  width: 30%;
  position: fixed;
  right: 2%;
  top: 12%;
  font-size: 20px;
  font-weight: bold;
  z-index: 2000;
}

.navbar {

  .navbar-brand {
    font-family: GreatVibes-Regular;
  }

  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;

    li {
      font-size: 16px;
      text-align: center;
    }
  }
}

.container {
  margin-top: 150px;
  margin-bottom: 100px;

  .info-box {
    background-color: white;
    padding: 80px 20px 60px 20px;
    box-shadow: 0px 10px 20px 0px #888888;
    text-align: center;

    &.venue {
      h1 {
        font-family: MonsieurLaDoulaise-Regular;
      }
    }

    .to-be-announced {
      margin-top: 50px;
      font-weight: bold;
    }

    header {
      font-family: 'Dancing Script', cursive;
      font-variant: small-caps;
      font-size: 30px;
      margin: 10px 0;
      line-height: 50px;
      background-color: #D35A4A;
      position: absolute;
      width: 102%;
      left: -10px;
      border-radius: 4px;
      top: 0;
      color: #ffffff;
    }

    img {
      width: 100%;
      max-height: 300px;
    }

    h1 {
      font-family: GreatVibes-Regular;
      font-size: 50px;
    }

    h2 {
      font-family: 'Dancing Script', cursive;
      font-variant: small-caps;
      border-top: 1px dotted rgba(0, 0, 0, 0.2);
      border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
      padding: 10px 0 10px 0;
    }

    h3 {
      font-size: 25px;
      font-family: PoiretOne;
    }

    .yes-no-buttons {
      float: left;
      margin-left: 20px;
    }

    section {
      font-size: 16px;
      margin-bottom: 20px;

      strong {
        color: #D35A4A;
      }

      #venue-map, #accommodation-map {
        height: 300px;
      }

      .visa-info {
        text-align: left;
      }
    }

    .link {
      margin-top: 10px;
    }

    hr {
      width: 40%;
      border-color: #F4A29C;
      opacity: 0.8;
    }

    .footer {
      margin-top: 20px;
      span.heart {
        bottom: 33px;
        position: absolute;
        font-size: 20px;
        color: #F4A29C;

        &.left {
          left: 49.3%;
          opacity: 0.7;
        }

        &.right {
          right: 48.5%;
          opacity: 0.5;
        }
      }
    }

    .bridesmaids {
      @include wedding-party(left, 23%, 24%, 73%)
    }

    .groomsmen {
      @include wedding-party(right, 72.5%, 74%, 22.5%);
    }
  }

  .rsvp {

    h1 {
      text-align: center;
      font-family: GreatVibes-Regular;
      font-size: 50px;
      text-transform: uppercase;
    }

    form {
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }

    button {
      text-align: center;
    }
  }

  .panel-group {
    .panel-default {
      border-color: transparent;
      border-radius: 10px;

      .panel-heading {
        background-color: #F5C59B;
        border-color: #F5C59B;
        border-radius: 10px;

        a {
          color: #ffffff;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .carousel {
    background-color: transparent;

    img {
      width: auto;
      height: 100%;
      margin: auto;
    }

    .carousel-control {
      background: transparent none;
    }
  }
}

@media (min-width: 766px) {
  .navbar {
    height: 150px;
    background: transparent url('nav.png') no-repeat;
    background-size: 100% 100%;
    border-color: transparent;
    box-shadow: none;

    .navbar-brand {
      font-family: GreatVibes-Regular;
      position: absolute;
      top: 50px;
      font-size: 32px;
      width: 300px;
      left: -180px;

      span {
        font-size: 20px;
      }
    }
  }

  .registry {
    width: 850px !important;
  }
}

@media (min-width: 992px) {
  .container {
    width: 770px;
  }
}

@media (max-width: 765px) {
  .alert {
    width: 100%;
    position: inherit;
    right: 0;
    top: 0;
    font-size: 12px;
    font-weight: bold;
    z-index: 0;
  }

  #main-menu {
    padding: 0;

    .nav {
      width: 100%;
      li {
        width: 100%;
      }
    }
  }

  #travel {
    #snippet_searchpanel {
      .ss_searchpanel {
        &.ss_box400x400 {
          max-width: 250px !important;
        }

        .ss_isection {
          label {
            font-size: 10px !important;
            margin-bottom: 0px !important;
          }
        }
      }
    }
  }

  .container {
    margin-top: 80px;
    .info-box {
      padding: 0 0 60px 0;

      header {
        position: inherit;
        width: 100%;
        left: 0;
        border-radius: 0;
        margin: 0;
        font-size: 25px;
      }

      h1 {
        font-size: 25px;
        padding: 0 20px 0 20px;
      }

      h3 {
        font-size: 16px;
        padding: 0 10px 0 10px;
      }

      section {
        font-size: 14px;
        padding: 20px 20px 0 20px;

        .yes-no-buttons {
          float: none;
          margin-left: 0;
        }

        .bridesmaids, .groomsmen {
          .header {
            display: none;
          }

          h1 {
            font-family: GreatVibes-Regular;
            font-size: 20px;
            margin: 0 0 5px 0;
          }

          li {
            height: 160px;

            img {
              width: 75px;
              height: 75px;
              margin: 5px auto;
            }

            .name {
              font-size: 12px;
            }
          }

          ul {
            padding: 0;

            li {
              text-align: center;
              img {
                float: none;
              }
              .name {
                padding: 5px 0 15px 0;
              }
            }
          }
        }
      }

      #venue-map, #accommodation-map {
        height: 200px;
      }
    }
  }
}

/* Flight Aware Box Style */
.ss_searchpanel.ss_col_classicbluelight.ss_box400x400 .ss_form, .ss_searchpanel.ss_col_classicbluelight.ss_box300x250 .ss_form, .ss_searchpanel.ss_col_classicbluelight.ss_leaderboard .ss_form, .ss_searchpanel.ss_col_classicbluelight.ss_skyscraper .ss_form {
  background-color: #AA413C !important;
}

.ss_searchpanel.ss_col_classicbluelight.ss_box400x400 .ss_deals, .ss_searchpanel.ss_col_classicbluelight.ss_box300x250 .ss_deals, .ss_searchpanel.ss_col_classicbluelight.ss_leaderboard .ss_deals, .ss_searchpanel.ss_col_classicbluelight.ss_skyscraper .ss_deals {
  background-color: #AA413C !important;
}

.ss_searchpanel.ss_col_classicbluelight.ss_box400x400 .ss_search_button .ss_btn_r, .ss_searchpanel.ss_col_classicbluelight.ss_box400x400 .ss_search_button .ss_btn_l, .ss_searchpanel.ss_col_classicbluelight.ss_box300x250 .ss_search_button .ss_btn_l, .ss_searchpanel.ss_col_classicbluelight.ss_leaderboard .ss_search_button .ss_btn_l, .ss_searchpanel.ss_col_classicbluelight.ss_skyscraper .ss_search_button .ss_btn_l {
  background-color: #AA413C !important;
}

.ss_searchpanel.ss_col_classicbluelight.ss_box400x400 .ss_tabs a, .ss_searchpanel.ss_col_classicbluelight.ss_box300x250 .ss_tabs a, .ss_searchpanel.ss_col_classicbluelight.ss_leaderboard .ss_tabs a, .ss_searchpanel.ss_col_classicbluelight.ss_skyscraper .ss_tabs a {
  background-color: #623234 !important;
}

.ss_searchpanel.ss_col_classicbluelight.ss_box400x400 .ss_deals .ss_deals_grade_left, .ss_searchpanel.ss_col_classicbluelight.ss_box400x400 .ss_deals .ss_deals_grade_right, .ss_searchpanel.ss_col_classicbluelight.ss_box300x250 .ss_deals .ss_deals_grade_right, .ss_searchpanel.ss_col_classicbluelight.ss_leaderboard .ss_deals .ss_deals_grade_right, .ss_searchpanel.ss_col_classicbluelight.ss_skyscraper .ss_deals .ss_deals_grade_right {
  background: none !important;
}

.ss_searchpanel.ss_col_classicbluelight.ss_box400x400 .ss_search_button:focus span, .ss_searchpanel.ss_col_classicbluelight.ss_box300x250 .ss_search_button:focus span, .ss_searchpanel.ss_col_classicbluelight.ss_leaderboard .ss_search_button:focus span, .ss_searchpanel.ss_col_classicbluelight.ss_skyscraper .ss_search_button:focus span, .ss_searchpanel.ss_col_classicbluelight.ss_box400x400 .ss_search_button:hover span, .ss_searchpanel.ss_col_classicbluelight.ss_box300x250 .ss_search_button:hover span, .ss_searchpanel.ss_col_classicbluelight.ss_leaderboard .ss_search_button:hover span, .ss_searchpanel.ss_col_classicbluelight.ss_skyscraper .ss_search_button:hover span {
  background: #AA413C none !important;
}

#snippet_searchpanel {
  .ss_searchpanel {
    font-family: PoiretOne !important;

    &.ss_box400x400 {
      max-width: 400px;
      max-height: 400px;
      width: 100% !important;
      height: 100% !important;
    }

    .ss_form_wrapper {
      background-color: #AA413C !important;
      border-radius: 10px;
    }

    .ss_tabs {
      li {
        &.ss_tab_active,
        &.ss_tab_active a {
          border-radius: 8px 8px 0 0;
          background-color: #AA413C !important;
        }
      }
    }

    .ss_isection {
      label {
        font-size: 18px !important;
        margin-bottom: 5px !important;
      }
    }
  }
}
