@font-face {
  font-family: MonsieurLaDoulaise-Regular;
  src: local('MonsieurLaDoulaise-Regular'),
       font-url('MonsieurLaDoulaise-Regular.eot?#iefix') format('embedded-opentype'), 
       font-url('MonsieurLaDoulaise-Regular.woff') format('woff'), 
       font-url('MonsieurLaDoulaise-Regular.ttf') format('truetype');
}

@font-face {
  font-family: GreatVibes-Regular;
  src: local('GreatVibes-Regular'),
       font-url('GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('GreatVibes-Regular.woff') format('woff'),
       font-url('GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: PoiretOne;
  src: local('PoiretOne'),
       font-url('PoiretOne.eot?#iefix') format('embedded-opentype'),
       font-url('PoiretOne.woff') format('woff'),
       font-url('PoiretOne.ttf') format('truetype');
}

@font-face {
  font-family: DancingScript;
  src: local('DancingScript'),
       font-url('DancingScript-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('DancingScript-Regular.woff') format('woff'),
       font-url('DancingScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: DancingScript;
  src: local('DancingScript'),
       font-url('DancingScript-Bold.eot?#iefix') format('embedded-opentype'),
       font-url('DancingScript-Bold.woff') format('woff'),
       font-url('DancingScript-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "FontAwesome";
  src: font-url('fontawesome-webfont.eot');
  src: font-url('fontawesome-webfont.woff'),
        font-url('fontawesome-webfont.ttf'),
        font-url('fontawesome-webfont.svg');
  font-weight: normal;
  font-style: normal;
}

.fa-female {
  color: #ff0a69;
}

.fa-male {
  color: #1357ff;
}

.badge a {
  text-decoration: none;
  color: #000000;
}

.navbar {
  .navbar-brand {
    //      position: absolute;
    //      top: 40px;
    //      left: 40%;
    font-family: GreatVibes-Regular;
    //      font-size: 30px;
    //      margin: 0 !important;
    //      padding: 23px 30px 40px 30px;
    //      background-color: #f8f8f8;
    //      border-radius: 60px;
    //      border-color: #e7e7e7;
    //      background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    //      box-shadow: 0px 10px 20px 0px #888888;
  }

  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;

    li {
      width: 125px;
      text-align: center;
    }
  }
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: PoiretOne;

  .info-box {
    background-color: white;
    padding: 80px 20px 60px 20px;
    box-shadow: 0px 10px 20px 0px #888888;
    text-align: center;
    font-family: PoiretOne;

    header {
      font-family: 'Dancing Script', cursive;
      font-variant: small-caps;
      font-size: 30px;
      margin: 10px 0;
      line-height: 50px;
      background-color: #E9CFAC;
      position: absolute;
      width: 102%;
      left: -10px;
      border-radius: 4px;
      top: 0;
      color: #ffffff;
    }

    img {
      width: 100%;
      max-height: 300px;
    }

    h1 {
      font-family: MonsieurLaDoulaise-Regular;
      font-size: 50px;
    }

    h3 {
      font-size: 25px;
      font-family: PoiretOne;
    }

    section {
      font-size: 16px;
      margin-bottom: 20px;

      strong {
        color: #5E2613;
      }
    }

    .link {
      margin-top: 10px;
    }

    hr {
      width: 40%;
      border-color: #5E2613;
      border-style: dotted;
    }

    .footer {
      margin-top: 20px;
      span.heart {
        bottom: 33px;
        position: absolute;
        font-size: 20px;
        color: #5E2613;
      }
    }
  }

  .rsvp {

    h1 {
      text-align: center;
      font-family: GreatVibes-Regular;
      font-size: 50px;
      text-transform: uppercase;
    }

    form {
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }

    button {
      text-align: center;
    }
  }
}

.admin-container {
  width: 90% !important;

  .wrapper {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
  }

  .save-the-date {
    color: #ffffff;
  }
}

@media (min-width: 992px) {
  .container {
    width: 770px;
  }
}
