@font-face {
  font-family: MonsieurLaDoulaise-Regular;
  src: local('MonsieurLaDoulaise-Regular'),
  font-url('MonsieurLaDoulaise-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('MonsieurLaDoulaise-Regular.woff') format('woff'),
  font-url('MonsieurLaDoulaise-Regular.ttf') format('truetype');
}

@font-face {
  font-family: GreatVibes-Regular;
  src: local('GreatVibes-Regular'),
  font-url('GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('GreatVibes-Regular.woff') format('woff'),
  font-url('GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: PoiretOne;
  src: local('PoiretOne'),
  font-url('PoiretOne-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('PoiretOne-Regular.woff') format('woff'),
  font-url('PoiretOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: DancingScript;
  src: local('DancingScript'),
  font-url('DancingScript-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('DancingScript-Regular.woff') format('woff'),
  font-url('DancingScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: DancingScript;
  src: local('DancingScript'),
  font-url('DancingScript-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('DancingScript-Bold.woff') format('woff'),
  font-url('DancingScript-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "FontAwesome";
  src: font-url('fontawesome-webfont.eot');
  src: font-url('fontawesome-webfont.woff'),
  font-url('fontawesome-webfont.ttf'),
  font-url('fontawesome-webfont.svg');
  font-weight: normal;
  font-style: normal;
}

@mixin wedding-party($float, $left, $center, $right) {
  float: $float;
  width: 45%;

  li {
    list-style: none;
    text-align: left;

    img {
      width: 100px;
      height: 100px;
      margin: 5px;
      float: left;
    }

    .name {
      padding-top: 30px;
    }

    .clear {
      clear: both;
    }
  }

  .header {
    margin-bottom: 20px;
    span {
      position: absolute;

      &.left {
        left: $left;
        opacity: 0.5;
        top: 87px;
      }

      &.center {
        left: $center;
        opacity: 1;
        top: 90px;
      }

      &.right {
        right: $right;
        opacity: 0.5;
        top: 87px;
      }
    }
  }
}

.fa-female {
  color: #ff0a69;
}

.fa-male {
  color: #1357ff;
}

.badge a {
  text-decoration: none;
  color: #000000;
}

.navbar {
  .navbar-brand {
    //      position: absolute;
    //      top: 40px;
    //      left: 40%;
    font-family: GreatVibes-Regular;
    //      font-size: 30px;
    //      margin: 0 !important;
    //      padding: 23px 30px 40px 30px;
    //      background-color: #f8f8f8;
    //      border-radius: 60px;
    //      border-color: #e7e7e7;
    //      background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    //      box-shadow: 0px 10px 20px 0px #888888;
  }

  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;

    li {
      font-size: 16px;
      text-align: center;
      font-family: 'Dancing Script', cursive;
    }
  }
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: PoiretOne;

  .info-box {
    background-color: white;
    padding: 80px 20px 60px 20px;
    box-shadow: 0px 10px 20px 0px #888888;
    text-align: center;
    font-family: PoiretOne;

    header {
      font-family: 'Dancing Script', cursive;
      font-variant: small-caps;
      font-size: 30px;
      margin: 10px 0;
      line-height: 50px;
      background-color: #E9CFAC;
      position: absolute;
      width: 102%;
      left: -10px;
      border-radius: 4px;
      top: 0;
      color: #ffffff;
    }

    img {
      width: 100%;
      max-height: 300px;
    }

    h1 {
      font-family: MonsieurLaDoulaise-Regular;
      font-size: 50px;
    }

    h3 {
      font-size: 25px;
      font-family: PoiretOne;
    }

    section {
      font-size: 16px;
      margin-bottom: 20px;

      strong {
        color: #5E2613;
      }
    }

    .link {
      margin-top: 10px;
    }

    hr {
      width: 40%;
      border-color: #5E2613;
      opacity: 0.8;
    }

    .footer {
      margin-top: 20px;
      span.heart {
        bottom: 33px;
        position: absolute;
        font-size: 20px;
        color: #5E2613;

        &.left {
          left: 49.3%;
          opacity: 0.7;
        }

        &.right {
          right: 48.5%;
          opacity: 0.5;
        }
      }
    }

    .bridesmaids {
      @include wedding-party(left, 23%, 24%, 73%)
    }

    .groomsmen {
      @include wedding-party(right, 72.5%, 74%, 22.5%);
    }
  }

  .rsvp {

    h1 {
      text-align: center;
      font-family: GreatVibes-Regular;
      font-size: 50px;
      text-transform: uppercase;
    }

    form {
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }

    button {
      text-align: center;
    }
  }
}

.admin-container {
  width: 90% !important;

  .wrapper {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
  }

  .save-the-date {
    color: #ffffff;
  }
}

@media (min-width: 992px) {
  .container {
    width: 770px;
  }
}

@media (max-width: 765px) {
  #main-menu {
    padding: 0;

    .nav {
      width: 100%;
      li {
        width: 100%;
      }
    }
  }

  .container {
    .info-box {
      padding: 0 0 60px 0;

      header {
        position: inherit;
        width: 100%;
        left: 0;
        border-radius: 0;
        margin: 0;
      }

      h1 {
        font-size: 30px;
        padding: 0 20px 0 20px;
      }

      h3 {
        font-size: 16px;
        padding: 0 10px 0 10px;
      }

      section {
        font-size: 14px;
        padding: 0 20px 0 20px;
      }
    }
  }
}