.home-page {
  background: url("cover-photo.jpg") no-repeat center center;
  background-size: cover;
  color: #ffffff;

  .container {
    width: 90%;
    font-family: PoiretOne;

    .welcome {
      background-color: #000000;
      opacity: 0.5;
      padding: 30px;
      p {
        font-family: PoiretOne;
        font-size: 20px;
        line-height: 20px;
      }
    }

    .title {
      background-color: #000000;
      opacity: 0.5;
      padding: 30px;

      .names {
        font-family: GreatVibes-Regular;
        font-size: 65px;
        margin-top: 50px;
        text-align: center;
      }

      .info {
        margin-top: 40px;
        font-size: 24px;
        text-align: center;
        line-height: 30px;
        font-family: PoiretOne;
      }
    }
  }

  .countdown {
    float: right;
    background-color: #000000;
    opacity: 0.5;
    padding: 30px;
    bottom: 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 30%;
    line-height: 35px;

    .numbers {
      border-style: ridge;    /* options are none, dotted, dashed, solid, double, groove, ridge, inset, outset */
      border-width: 2px;
      border-color: #666666;  /* change the border color using the hexadecimal color codes for HTML */
      background: #222222;    /* change the background color using the hexadecimal color codes for HTML */
      padding: 10px 0px;
      width: 55px;
      text-align: center;
      font-family: Arial;
      font-size: 28px;
      font-weight: bold;    /* options are normal, bold, bolder, lighter */
      font-style: normal;   /* options are normal or italic */
      color: #FFFFFF;       /* change color using the hexadecimal color codes for HTML */
      margin: 0 5px 0 5px;
    }
    .title {    /* the styles below will affect the title under the numbers, i.e., “Days”, “Hours”, etc. */
      border: none;
      padding: 0px;
      width: 55px;
      text-align: center;
      font-size: 12px;
      font-weight: normal;  /* options are normal, bold, bolder, lighter */
      color: #DDDDDD;       /* change color using the hexadecimal color codes for HTML */
      background: transparent;    /* change the background color using the hexadecimal color codes for HTML */
    }
    #table {
      width: 100%;
      border: none;    /* options are none, dotted, dashed, solid, double, groove, ridge, inset, outset */
      margin: 0px auto;
      position: relative;    /* leave as "relative" to keep timer centered on your page, or change to "absolute" then change the values of the "top" and "left" properties to position the timer */
      top: 0px;        /* change to position the timer */
      left: 0px;        /* change to position the timer; delete this property and it's value to keep timer centered on page */
    }
  }
}

@media (max-width: 765px) {
  .home-page {
    .container {
      .title {
        .names {
          font-size: 200%;
          margin-top: 10%;
        }
        .info {
          margin-top: 10%;
          font-size: 150%;
          line-height: 100%;
        }
      }
    }

    .countdown {
      float: none;
      margin-top: 10%;
    }
  }
}
