.home-page {
  background: url("home-image.jpeg") no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;

  .container {
    width: 90%;
    font-family: PoiretOne;

    .welcome {
      background-color: #000000;
      opacity: 0.5;
      padding: 30px;
      p {
        font-family: PoiretOne;
        font-size: 20px;
        line-height: 20px;
      }
    }

    .title {
      background-color: #000000;
      opacity: 0.5;
      padding: 30px;

      .names {
        font-family: GreatVibes-Regular;
        font-size: 65px;
        margin-top: 50px;
        text-align: center;
      }

      .info {
        margin-top: 40px;
        font-size: 24px;
        text-align: center;
        line-height: 30px;
        font-family: PoiretOne;
      }
    }
  }

  .countdown {
    bottom: 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;

    .box {
      background-color: rgba(211, 90, 74, 0.71);
      padding: 15px;

      .heart {
        font-size: 60px;
        margin: 10px auto;
      }

      .keep {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 50px;
        line-height: 70px;
        margin-bottom: 0;
      }

      .calm {
        font-weight: bold;
        font-size: 50px;
        line-height: 50px;
      }

      .wedding-countdown {
        font-weight: bold;
      }

      .addthisevent-drop {
        margin-top: 20px;
        color: white !important;
        background-color: transparent;
        border-color: transparent;
      }
    }

    #table {
      width: 100%;
      border: none; /* options are none, dotted, dashed, solid, double, groove, ridge, inset, outset */
      margin: 0px auto;
      position: relative; /* leave as "relative" to keep timer centered on your page, or change to "absolute" then change the values of the "top" and "left" properties to position the timer */
      top: 0px; /* change to position the timer */
      left: 0px; /* change to position the timer; delete this property and it's value to keep timer centered on page */

      .numbers {
        border: 2px ridge #777;
        border-radius: 15px;
        background: #ffffff; /* change the background color using the hexadecimal color codes for HTML */
        padding: 15px 0px;
        width: 45px;
        text-align: center;
        font-family: Arial;
        font-size: 20px;
        font-weight: bold; /* options are normal, bold, bolder, lighter */
        font-style: normal; /* options are normal or italic */
        color: #D35A4A; /* change color using the hexadecimal color codes for HTML */
        margin: 0 5px 0 5px;
      }

      #count2 {
        background: transparent;
        color: #ffffff;
        border: none;
      }

      .title {
        border: none;
        padding: 0px;
        width: 45px;
        text-align: center;
        font-size: 12px;
        font-weight: bold; /* options are normal, bold, bolder, lighter */
        color: #ffffff; /* change color using the hexadecimal color codes for HTML */
        background: transparent; /* change the background color using the hexadecimal color codes for HTML */
      }
    }
  }
}

@media (max-width: 765px) {
  .home-page {
    background-attachment: fixed;

    .container {
      .title {
        .names {
          font-size: 30px;
          margin-top: 10%;
        }
        .info {
          margin-top: 10%;
          font-size: 150%;
          line-height: 100%;
        }
      }
    }

    .countdown {
      float: none;
      margin-top: 10%;
      width: 100%;

      #table {
        .numbers {
          padding: 10px 0px;
          font-size: 16px;
          width: 40px;
        }
      }
    }
  }
}
