.home-page {
  background: url("cover-photo.JPG") no-repeat center center;
  background-size: cover;
  color: #ffffff;

  .container {
    width: 90%;
    font-family: PoiretOne;

    .welcome {
      background-color: #000000;
      opacity: 0.5;
      padding: 30px;
      font-family: PoiretOne;
      font-size: 18px;
    }

    .title {
      background-color: #000000;
      opacity: 0.5;
      padding: 30px;

      .names {
        font-family: GreatVibes-Regular;
        font-size: 65px;
        margin-top: 50px;
      }

      .info {
        margin-top: 40px;
        font-size: 24px;
        text-align: center;
        line-height: 30px;
        font-family: PoiretOne;
      }
    }
  }

  .countdown {
    float: right;
    background-color: #000000;
    opacity: 0.5;
    padding: 30px;
    bottom: 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 30%;
    line-height: 35px;
  }
}

@media (max-width: 765px) {
  .home-page {
    .container {
      .title {
        .names {
          font-size: 40px;
        }
      }
    }
  }
}
