section {
  &.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    ul {
      padding: 0;
    }

    img {
      height: 250px;
      width: auto !important;
      cursor: pointer;

      &.lazy {
        display: none;
      }
    }
  }
}

.container {
  .modal {
    .modal-header {
      h3 {
        font-family: PoiretOne;
        text-align: center;
      }
    }
    .carousel {
      img {
        width: auto;
        height: auto;
      }
    }
  }
}

@media (max-width: 765px)  {
  section {
    &.images {
      ul {
        a {
          font-size: 10px;
        }
      }
    }
  }
}