section {
  &.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    img {
      height: 250px;
      width: auto !important;
      cursor: pointer;

      &.lazy {
        display: none;
      }
    }
  }
}

.container {
  .modal {
    .carousel {
      img {
        width: auto;
        height: auto;
      }
    }
  }
}