.rsvp {
  ::-webkit-input-placeholder {
    color: #dddddd;
  }

  .all-caps {
    text-transform: uppercase;
  }

  h3 {
    text-align: left;
  }

  .rehearsal, .brunch,
  #party-size-brunch, #party-size-rehearsal {
    display: none;

    label {
      strong {
        color: #D35A4A;
      }
    }
  }
}

@media (max-width: 765px) {
  .rsvp {
    section {
      margin-top: 20px;
    }
  }
}
