.rsvp {
  ::-webkit-input-placeholder {
    color: #dddddd;
  }

  .all-caps {
    text-transform: uppercase;
  }

  h3 {
    text-align: left;
  }

  .rehearsal, .brunch,
  #party-size-brunch, #party-size-rehearsal {
    display: none;

    label {
      strong {
        color: #D35A4A;
      }
    }
  }

  .meal {
    label {
      text-align: left;
    }
  }

  label.meal {
    text-align: left !important;
  }

  .correct {
    font-size: medium;
  }

  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
}

@media (max-width: 765px) {
  .rsvp {
    section {
      margin-top: 20px;
    }
  }
}
